@using LP.Plotter.Data;
@using LP.Plotter.Services;
@using System.Collections.Specialized;

@namespace LP.Plotter.Components

@implements IDisposable;
@inject AppService appService;

<div>
    <ul>
        @foreach (var c in appService.CurrentPlot.Sets)
        {
            <li>@c.Name</li>
        }
    </ul>
</div>

@code {

    protected override void OnInitialized()
    {
        appService.CurrentPlot.Changed += DataChanged;
    }

    public void Dispose()
    {
        appService.CurrentPlot.Changed -= DataChanged;
    }

    private void DataChanged(object? sender, EventArgs e)
    {
        StateHasChanged();
    }
}