@using LP.Plotter.Data;
@using LP.Plotter.Services;
@using System.Collections.Specialized;

@namespace LP.Plotter.Components

@implements IDisposable;
@inject AppService appService;

<div style="@Style">
    <ul>
        @foreach (var c in appService.CurrentPlot.Sets)
        {
            <li>@c.Name</li>
        }
    </ul>
</div>

@code {
#pragma warning disable CS8618
    [Parameter]
    public string Style { get; set; }
#pragma warning restore CS8618

    protected override void OnInitialized()
    {
        appService.CurrentPlot.Changed += DataChanged;
    }

    public void Dispose()
    {
        appService.CurrentPlot.Changed -= DataChanged;
    }

    private void DataChanged(object? sender, EventArgs e)
    {
        StateHasChanged();
    }
}