@page "/gpu"

@using LP.Plot.Core.Data;

@inject AppService appService;
@inject DataService dataService;

<div style="display:flex;flex-direction:row;height:100%;">
    @if (plot != null)
    {
        <LPPlotView Plot="@plot" ></LPPlotView>
    }
    <div style="position: relative; display: flex; flex-direction: column;">
        <MudPaper Elevation="25" Style="margin-bottom:5px">
            <PlotterMenu Model="@(appService.CurrentPlot)"></PlotterMenu>

        </MudPaper>
        <ChannelMenu Model="@(appService.CurrentPlot)"
                     Style="padding:10px; width:300px; position: sticky; top: 0; right: 0; overflow-y: auto; overflow-x:hidden; flex: 1;">
        </ChannelMenu>
    </div>
</div>

@code {
    LP.Plot.Core.Plot? plot;
    bool isLoading = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var t = Task.Run(async () =>
        {
            var data = await dataService.LoadSignal_M();
            plot = LP.Plot.Core.Plot.CreateSignal(data);            
            isLoading = false;
            StateHasChanged();
        });
    }
}