@page "/"

@inject AppService appService;
@inject DataService dataService;

<div style="display:flex;flex-direction:row;height:100%;">
    @if (appService.CurrentModel != null)
    {
        <PlotView Plot="@(appService.CurrentModel.Plot)"></PlotView>
    }
    else
    {
        <h4>Loading...</h4>
    }
    <div style="position: relative; display: flex; flex-direction: column;">
        <MudPaper Elevation="25" Style="margin-bottom:5px">
            <PlotterMenu Model="@(appService.CurrentModel)"></PlotterMenu>
        </MudPaper>
        <ChannelMenu Model="@(appService.CurrentModel)"
                     Style="padding:10px; width:300px; position: sticky; top: 0; right: 0; overflow-y: auto; overflow-x:hidden; flex: 1;">
        </ChannelMenu>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var t = Task.Run(async () =>
        {
            var data = await dataService.LoadTestLap();
            appService.Add(data);
            StateHasChanged();
        });
    }
}