@page "/"
@using LP.Plotter.Services;
@inject AppService appService;

<div style="display:flex;flex-direction:row;height:100%;">
    <ChannelPlotter Model="@(appService.CurrentPlot)" Style="display:flex; flex:1"></ChannelPlotter>
    <ChannelMenu Model="@(appService.CurrentPlot)" Style="display:flex"></ChannelMenu>
</div>